<.form let={f} for={@changeset}>
  <%= label f, :year_of_birth %>
  <%= select f, :year_of_birth, Enum.reverse(1900..2020) %>
  <%= error_tag f, :year_of_birth %>

  <%= hidden_input f, :user_id %>

  <%= submit "Save", phx_disable_with: "Saving…" %>
</.form>
